{% extends "base.html" %}

{% block content %}
<h1>Change Online Status</h1>
<form method="post" action="{% url 'raspberry:status' %}">
    {% csrf_token %}
    <label>
        <input type="radio" name="status" value="true" {% if user.is_online %}checked{% endif %}> Online
    </label><br>
    <label>
        <input type="radio" name="status" value="false" {% if not user.is_online %}checked{% endif %}> Offline
    </label><br>
    <button type="submit">Update Status</button>
</form>
<div id="response">{{ response_message }}</div>
{% endblock %}