{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="loading" style="display: none" class="text-center mt-auto">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="text-center mt-3">
            <p id="loading-message">Loading games...</p>
        </div>
        <div class="progress mt-3" style="height: 20px; width: 80%; margin: 0 auto;">
            <div id="loading-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 style="width: 0%"></div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <h1 class="mb-4">Games</h1>
            </div>
            <div class="col-md-4">
                <input type="search" class="form-control" name="search" placeholder="Search games..."
                       value="{{ search }}" id="search" autocomplete="off">
            </div>
        </div>

        <div class="row">

            <div class="col-12" id="games">
                {% if search %}
                    <div class="alert alert-warning text-center" role="alert">
                        <i class="bi bi-exclamation-triangle"></i> Some content, such as images, descriptions, or other
                        data,
                        may be
                        unavailable due to API rate limits or restrictions.
                    </div>
                {% endif %}
                {% if games %}
                    <div class="row">
                        {% for game in games %}
                            <div class="col-md-4 col-sm-6 col-12 mb-4">
                                <div class="card mb-4 shadow-sm h-100">
                                    {% if game.steam_image %}
                                        <img src="{{ game.steam_image }}" class="card-img-top" alt="{{ game.name }}">
                                    {% else %}
                                        <p class="text-center text-muted">No image available.</p>
                                    {% endif %}
                                    <div class="card-body d-flex flex-column">

                                        <h5 class="card-title">{{ game.name }}</h5>
                                        {% if game.short_description %}
                                            <p class="card-text text-truncate"
                                               style="max-height: 60px; overflow: hidden;">
                                                {{ game.short_description }}
                                            </p>
                                        {% else %}
                                            <p class="card-text text-truncate"
                                               style="max-height: 60px; overflow: hidden;">
                                                No description available.
                                            </p>
                                        {% endif %}
                                        <div class="mt-auto">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{% url 'game' game.appid %}{% if search %}?search={{ search }}&limit={{ limit }}{% endif %}"
                                                   class="btn btn-sm btn-primary show-loading">
                                                    View
                                                </a>
                                                <div class="text-end">
                                                    <small class="d-block text-muted">{{ game.release_date }}</small>
                                                    <span class="text-success fw-bold">{% if game.price == 0 %}
                                                        Free {% else %}${{ game.price }}{% endif %}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info text-center d-flex flex-column align-items-center">
                        <i class="bi bi-emoji-frown display-1"></i>
                        <span class="pb-3">No games found. Try a different search.</span>
                        <a href="{% url 'games-index' %}" class="btn btn-primary">Clear Search</a>
                    </div>
                {% endif %}
            </div>

            {% if games and games|length >= limit %}
                <div class="text-center pb-4">
                    <button class="btn btn-primary" id="load-more">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        Load More
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/games/loading.js' %}"></script>
    <script src="{% static 'js/games/search.js' %}"></script>
{% endblock %}
