@import '../../../node_modules/bootstrap/scss/bootstrap';

/* Steam-Like Light Theme */
[data-bs-theme="light"] {
  --bs-body-bg: #f4f4f4; /* Light gray background */
  --bs-body-color: #2c2f3d; /* Dark text for contrast */
  --bs-navbar-bg: #22262b; /* Softer light gray for the navbar */
  --bs-navbar-color: #dcdfe1; /* Dark text for the navbar */
  --bs-btn-secondary-bg: #a1a5b1; /* Muted button background */
  --bs-btn-secondary-border: #8c8f9a; /* Slightly darker border */

  nav {
    background-color: var(--bs-navbar-bg);
    color: var(--bs-navbar-color);
  }
}

/* Steam-Like Dark Theme */
[data-bs-theme="dark"] {
  --bs-body-bg: #1b1f23; /* Dark background */
  --bs-body-color: #dcdfe1; /* Light text for readability */
  --bs-navbar-bg: #22262b; /* Neutral dark gray for the navbar */
  --bs-navbar-color: #dcdfe1; /* Light text for the navbar */
  --bs-btn-secondary-bg: #3e4a57; /* Muted, dark button background */
  --bs-btn-secondary-border: #2e3a45; /* Darker border */

  nav {
    background-color: var(--bs-navbar-bg);
    color: var(--bs-navbar-color);
  }

  .card.bg-light {
    background-color: rgb(33 37 41) !important;
  }

}

.outside-blink {
  position: relative;
  display: inline-block;
  color: #fff; /* Text color */
  font-size: 24px; /* Adjust as needed */
  font-weight: bold; /* Ensure visibility */
}

.outside-blink::before {
  border-radius: 50%; /* Circle */
  content: "";
  position: absolute;
  top: -0px;
  left: -0px;
  right: -0px;
  bottom: -0px;
}

.online.outside-blink::before {
  animation: blink-online 3s infinite;
}

.offline.outside-blink::before {
  animation: blink-offline 3s infinite;
}

@keyframes blink-online {
  0% {
    opacity: 1;
    box-shadow: 0 0 10px 5px rgba(25, 135, 84, 0.5);
  }
  45% {
    opacity: 0;
    box-shadow: 0 0 20px 10px rgba(25, 135, 84, 0.2);
  }
  90% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: none;
  }
}

@keyframes blink-offline {
  0% {
    opacity: 1;
    box-shadow: 0 0 10px 5px rgba(220, 53, 69, 0.5);
  }
  45% {
    opacity: 0;
    box-shadow: 0 0 20px 10px rgba(220, 53, 69, 0.2);
  }
  90% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: none;
  }
}